.App {
  text-align: center;
}

.App-header {
  background-color: #333;
  height: 98vh;
  display: block;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #207487;
  box-shadow: inset 0 0 5px #207487;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: silver;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.gradient-background {
  /* width: 100%; */
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0.9;
}

.gradient-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  z-index: -1;
  /* Ensure the pseudo-element is behind child elements */
  background: linear-gradient(45deg, #ff6b6b, #556270, #cd4e4e, #f46464);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.textColors1 {
  animation: colorchange 15s ease infinite;
}

/* Only the color will change, not the width */
@keyframes colorchange {
  0% {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }

  50% {
    -webkit-text-stroke: 1px rgb(117, 117, 117);
  }

  100% {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
}

.textStroke {
  color: #000;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  letter-spacing: -0.050em;
  -webkit-text-stroke: 1px #ffdada;

  background: -webkit-gradient(left top, left bottom,
      color-stop(0%, rgba(128, 128, 128, 1)),
      color-stop(58%, rgba(59, 50, 50, 1)),
      color-stop(100%, rgba(59, 50, 50, 1)));
  background: -webkit-linear-gradient(top, rgba(128, 128, 128, 1) 0%,
      rgba(59, 50, 50, 1) 58%,
      rgba(59, 50, 50, 1) 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:after {
    color: red;
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 0.150em #d9a3ff;
    left: 0;
    z-index: -2;
    font-size: 1em;
  }
}