body {
  background: #333;
  color: white;
  font-family: monospace;
}

a {
  color: rgb(40, 140, 255);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 200px;
  height: 25px;
  font-family: monospace;
  color: white;
  background-color: #222222 !important;
  border: none;
}

textarea {
  width: 100%;
  height: 150px;
  background-color: #333;
  color:lime;
}
button {
  cursor: pointer;
  width: 200px;
  height: 25px;
  font-family: monospace;
  color: white;
  background-color: #222222 !important;
  border: solid 2px gray;
}

.myForms {
  font-family: monospace;
  border: solid 8px rgb(210, 186, 29);
  padding: 10px 10px 10px 10px;
  margin: 5px 1px 5px 1px;
}

#logs {
  border: solid 1px #e0e0e0;
}

#msgBox {
  text-shadow: 0px 4px 4px #282828;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 81, 121, 0.8463760504201681) 34%, rgba(0, 212, 255, 1) 100%);
}

.msg-box {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  translate: -50%;
  border-radius: 6px !important;
  font-size: 15px !important;
  width: 300px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

  &.error {
      /* background-color: rgb(93, 4, 5); */
      color: rgb(255, 0, 30);
  }

  &.success {
      /* background-color: rgb(220, 14, 14); */
      color: rgb(32, 255, 84);
      text-align: center;
      margin-left: -150px;
      z-index: 20;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
